:root {
  --backround-rgb: 20, 24, 42;
  --foreground-rgb: 59, 200, 230;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* font-family: 'Josefin Sans'; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--backround-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  background-color: transparent;
}

.app {
  margin: auto;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
/* Navigation bar css */

.nav-container {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 16px;
  background-color: #1b2039;
}

.input_container {
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .input_container {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.search_service_form {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.search-input {
  padding: 10px 8px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  font-size: 15px;
  transition-duration: 0.6s;
  font-weight: 400;
  color: rgb(119, 119, 119);
}

.search-input:hover {
  padding: 10px 30px;
  margin-right: 10px;
}

.searchbar-btn {
  padding: 8px 5px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  background-color: rgb(var(--foreground-rgb));
  color: #ffffff;
}

.searchbar-container {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  flex: 1;
}

.hamburger-menu-container {
  display: none;
}

.hamburger-menu {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
}
.logo-div {
  padding-top: 10px;
  padding-left: 2rem;
  flex: 0.5;
}

.wishlist_link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_image_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  color: #ffffff;
}

.nav_logo_link {
  display: flex;
  gap: 5px;
  justify-content: space;
  align-items: center;
}

.admin_dropdown_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}
.admin_dropdown_div div {
}

@media (max-width: 940px) {
  .event-text {
    display: none;
  }
}

.event-text span {
  color: rgb(var(--foreground-rgb));
}

.loginpage_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.login {
  padding: 7px 18px;
  font-size: 15px;
  color: #ffffff;
  background-color: rgb(var(--foreground-rgb));
  border: none;
  border-radius: 20px;
  transition: all 2.2s ease-in-out;
}

.login:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

.object-contain {
  object-fit: contain;
}

@media (max-width: 640px) {
  .logo_text {
    display: none;
  }
}

.homepage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: center;
  flex-direction: column;
}

.mysearchbarpositiondiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}

@media (max-width: 768px) {
  .mysearchbarpositiondiv {
    justify-content: center;
    align-items: center;
  }
}

.banner_container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .banner_container {
    flex-direction: column;
    width: 97%;
  }
}

@media (max-width: 768px) {
  .image-container {
    width: 100%;
  }
}

.image-container {
  flex: 1;
}

.text-container h2 {
  color: #fff;
  font-size: 29px;
  font-weight: 700;
}

.text-container div {
  font-size: 29px;
  font-weight: 700;
  color: rgb(var(--foreground-rgb));
}

.text-container p {
  color: #777777;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
}

.text-container {
  flex: 2;
}

@media (max-width: 768px) {
  .text-container {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
}

.homepage_action_registerbtn {
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 600;
  width: 10rem;
  max-width: 21rem;
  color: #ffffff;
  background-color: rgb(var(--foreground-rgb));
  border: none;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.homepage_action_registerbtn:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

.homepage_action_btn {
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 600;
  width: 10rem;
  max-width: 21rem;
  color: #ffffff;
  background-color: rgb(var(--foreground-rgb));
  border: none;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  margin-left: 2.2rem;
}

@media (max-width: 1024px) {
  .homepage_action_btn {
    padding: 8px 14px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 6px;
    margin-left: 5px;
  }
}

.homepage_action_btn:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

.boundary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boundary p {
  color: #ffffff;
  font-size: 18px;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  opacity: 0.15;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.sidebar-container {
  height: 100vh;
  width: 300px;
}

.ms_sidemenu_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ms_nav_wrapper ul {
  list-style-type: none;
  font-size: 1rem;
}
.wishlist_badge {
  margin-left: 0.25rem;
  border-radius: 9999px;
  background-color: #dc2626;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
}
@media (min-width: 640px) {
  .desktopview {
    display: flex;
  }
}

.desktopview {
  display: none;
}

.indesktop {
  display: flex;
  gap: 0.75rem;
}

@media (min-width: 768px) {
  .indesktop {
    gap: 1.25rem;
  }
}

.form-container {
  margin: 0 auto;
  height: 75vh;
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(var(--foreground-rgb));
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 1022px) {
  .form-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80;
    flex-direction: column;
  }
}

@media (width: 320px) {
  .form-container {
    width: 100vw;
    height: auto;
  }
}

.register-image {
  max-width: 100%;
}

@media (max-width: 768px) {
  .register-image {
    width: 90%;
    height: 180px;
  }
}

.form-container form {
  justify-content: center;
  flex-direction: column;
  flex: 1.5;
  padding: 1rem 0.4rem;
}

@media (max-width: 768px) {
  .form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
}

.form-container form h1 {
  color: #e5e7eb;
}
.form-container form input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  width: 95%;
}
:focus {
  outline: none;
}
.form-container form button {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  font-size: 15px;
  color: #ffffff;
  background-color: rgb(var(--foreground-rgb));
  border-radius: 20px;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.searchbar-btn:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

form span {
  color: #ffffff;
}

.myformlink {
  font-weight: 700;
}
/* List Service style */

.serviceitem_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listservice-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceitem_wrapper {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem;
}

@media (min-width: 768px) {
  .serviceitem_wrapper {
    flex-direction: row;
  }
}

.listservice-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-left: -16px;
  margin-right: -16px;
}

@media (min-width: 768px) {
  .serviceitem_wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .serviceitem_wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* ServiceItems card css */
.card {
  height: 25rem;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  border-radius: 1.5rem;
  background-color: #282c37;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card:hover {
  transform: scale(1.05);
}
.product_image {
  width: 100%;
  height: 270px;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.service_info {
  padding: 2px 5px 2px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.single_small_service_image {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  justify-content: center;
  white-space: nowrap;
}

.single_small_service_image a {
  display: inline-block;
  border: 1px solid #e5e7eb;
  padding: 0.25rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.single_small_service_image a:hover {
  border-color: #3b82f6;
}

.service_title {
  font-size: 1.1rem;
  margin-bottom: 10px;
  width: 11rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.service_description {
  width: 11rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description-text {
  text-align: justify;
  color: rgb(119, 119, 119);
}
.services_btn_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 3px 10px;
}

.service_btn {
  padding: 7px 18px;
  font-size: 15px;
  color: #ffffff;
  background-color: rgb(var(--foreground-rgb));
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  transition: all 1s ease-in-out;
}
.small-btn {
  background: transparent;
  border: none;
  color: #ffffff;
}
.service_btn:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

.service_btn:active {
  background-color: #ffb300;
}

/* single Service page */

.backtoservice_link_container {
  margin-bottom: 1rem;
}
.backtoservice_link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.sigaservice_container {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .single_service_image_container {
    flex-direction: column;
  }
}

.mysingle_image {
  width: 100%;
  border-radius: 1.5rem;
}

.single_service_image_container {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 1.5rem;
}
.single_service_image {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.9s ease-in-out;
  border-radius: 1.5rem;
}

.single_service_image_container ul li {
  list-style-type: none;
  color: rgb(var(--background-end-rgb));
  padding-bottom: 10px;
}

.single_service_image:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
  transform: scale(1.1);
}
.servicedetail_description_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.3rem 1.3rem 1.3rem 0;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.9s ease-in-out;
}
.servicedetail_description_container:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
  transform: scale(1.04);
}

@media (max-width: 768px) {
  .servicedetail_description_container {
    text-align: center;
    max-width: 100%;
  }
}

.wishlist_btn {
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 600;
  max-width: 21rem;
  color: #ffffff;
  background-color: rgb(var(--foreground-rgb));
  border: none;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.wishlist_btn:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

@media (max-width: 768px) {
  .wishlist_btn {
    font-weight: 400;
    padding: 10px;
    font-size: 0.7rem;
    min-width: 6rem;
    margin-left: none;
  }
}

.wishlist_head {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #ebf8ff;
}

@media (min-width: 640px) {
  .wishlist_head {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}

.wishlist_head_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1280px;
}
.wishlist_head_container h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.wishlist-body {
  padding-top: 5px;
  padding-bottom: 5px;
}
.wishlist_body_container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wishlist_body_main_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -0.25rem;
  margin-left: -0.25rem;
}

@media (min-width: 768px) {
  .wishlist_body_main_wrapper {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .wishlist_body_main_wrapper .main {
    width: 75%;
  }
}

.wishlist-content {
  border-width: 1px;
  border-color: #e2e8f0;
  border-color: #edf2f7;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
  padding: 0.75rem;
}

@media (min-width: 1024px) {
  .wishlist-content {
    padding: 1.25rem;
  }
}

.wishlist_body_content_wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: -0.625rem;
  margin-left: -0.625rem;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .wishlist_body_content_wrapper {
    flex-direction: row;
  }
}

.wish_wrapper_content {
  width: 100%;
}

@media (min-width: 1024px) {
  .wish_wrapper_content {
    width: 40%;
  }
}

@media (min-width: 1280px) {
  .wish_wrapper_content {
    width: 50%;
  }
}

.wishlist_figure {
  display: flex;
  line-height: 1.25rem;
  color: #ffffff;
}
.wishlist_image_container {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #e2e8f0;
  border-color: #edf2f7;
}

.figcaption {
  margin-left: 0.75rem;
}

.wish_name:hover {
  color: #3182ce;
}

.wish_category {
  margin-top: 0.25rem;
  color: #cbd5e0;
}
.wish_btn_container {
  /* display: inline-block; */
  width: 6rem;
}

.wish-btn-wrapper {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  position: relative;
  background-color: transparent;
  margin-top: 0.25rem;
}
.wish_qty_btn {
  background-color: #d1d5db;
  color: #6b7280;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 5rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.wish_qty_btn:hover {
  color: #374151;
  background-color: #9ca3af;
}

.wish_qty_decrement {
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
}
.wish_input {
  outline: none;
  text-align: center;
  width: 100%;
  background-color: #d1d5db;
  font-weight: 600;
  font-size: 1rem;
  color: #374151;
  cursor: default;
  display: flex;
  align-items: center;
  color: #374151;
}

.wish_input:focus {
  outline: none;
}

.wish_input:hover {
  color: #000;
}

@media (min-width: 768px) {
  .wish_input {
    font-size: 1.125rem;
  }
}
.wish_qty_increment {
}

.wish_qty_increment:hover {
}
.wish_qty_btn1 {
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
}

.wish_remove_container {
  flex: 1;
}

.rating-container {
}

/* headless modal */
.headlessdialog {
  position: relative;
  z-index: 50;
}
.headless_modal_backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.headless_modal_fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.headless_dialog_panel {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  border-radius: 0.25rem;
  background-color: #fff;
  padding: 2.5rem;
}

.call-to-action-status {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.availability {
  padding: 5px;
}
.calltoaction_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action_btn {
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 600;
  max-width: 21rem;
  color: #ffffff;
  background-color: rgb(var(--foreground-rgb));
  border: none;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  margin-left: 2.2rem;
}

.action_btn:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

@media (max-width: 768px) {
  .action_btn {
    font-weight: 400;
    padding: 10px;
    font-size: 0.7rem;
    min-width: 6rem;
    margin-left: 1rem;
  }
}

/* service list css */

.createservice-container {
  height: 2000px;
  padding: 6px;
}

.createservice_form_container {
  margin: 0 auto;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--foreground-rgb));
  padding: 15px;
  border-radius: 10px;
}
.createservice_form_container select {
  padding: 10px;
  margin-bottom: 10px;
  width: 93%;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}

.createservice_form_container textarea {
  padding: 10px;
  margin-bottom: 10px;
  width: 91%;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}
.createservice_form_container image {
  max-width: 100%;
  height: auto;
  width: 80%;
}
.createservice_form_container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.createservice_form_container form h1 {
  color: #ffffff;
}
.createservice_form_container form input {
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}
:focus {
  outline: none;
}
.createservice_form_container form button {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  font-size: 15px;
  color: #ffffff;
  background-color: rgb(var(--foreground-rgb));
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.createservice_form_container form button:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

.servicelist_container {
  width: 90%;
  padding: 15px;
  margin: 0 auto;
}

.servicelist_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.servicelist_heading h1 {
  font-size: 24px;
  margin: 0;
}

table {
  width: 100%;
  color: #ffffff;
  border-collapse: collapse;
}
thead {
  text-align: center;
  color: #ffffff;
}
th td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:hover {
  color: rgb(var(--backround-rgb));
  background-color: #f5f5f5;
}

tbody td {
  text-align: center;
}

.servicelist_container button {
  padding: 7px 18px;
  font-size: 15px;
  color: #fff;
  border: none;
  background-color: rgb(var(--foreground-rgb));
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.servicelist_container button:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

.edit-icon-container {
  width: 2%;
  transition: all 0.2s ease-in;
}

.edit-icon-container :hover {
  color: #10531b;
}
.delete-icon-container {
  width: 2%;
  transition: all 0.2s ease-in;
}
.delete-icon-container :hover {
  color: #e70f0f;
}

.editicons {
  width: 40px;
  height: 40px;
}
.footer {
  display: flex;
  height: 50px;
  background-color: #1b2039;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.drowpdownicon {
}
.user_maincontainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.userandadmin_container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* AdminDROPDOWN */

/* ADMINUSER */

.admindropdown_top_container {
  width: 56px;
}

.topcontainer_wrapper {
  position: relative;
  display: inline-block;
  text-align: left;
}

.admindropdown-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  opacity: 20;
  padding: 6px 8px;
  align-items: center;
  font-size: 0.8rem;
  color: #fff;
}
.admindropdown-btn:hover {
  font-size: 0.9rem;
  color: #fff;
  opacity: 30;
}
.admindropdown-btn:focus {
  outline: none;
  opacity: 75;
}
.dropdownicon {
  margin-left: 2px;
  margin-right: 1px;
  height: 5px;
  width: 5px;
  color: violet;
  font-weight: 200;
}
.dropdownicon:hover {
  color: violet;
  font-weight: 100;
}

.dropdown-element {
  position: absolute;
  margin: 2px 0;
  width: 100px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.dropdown-element-container {
  padding: 1px;
}

.dropdown-element-btn {
  width: 100%;
  background-color: transparent;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 2px;
  font-size: small;
  border: none;
  text-align: left;
}

.dropdown-element-btn:hover {
  background: black;
  color: #fff;
  border: none;
  text-align: center;
}

.userlist_container {
  width: 90%;
  height: 100%;
  padding: 15px;
}

.userlist_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #9ca3af;
}

.userlist_heading button {
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  color: #ffffff;
  background-color: rgb(var(--foreground-rgb));
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.userlist_heading button:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
}

.singleuserimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleuserinfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.singleuserdetails {
  color: #fff;
  padding: 10px 20px;
  width: 25%;
  text-align: justify;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgb(var(--foreground-rgb));
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 1s ease-in-out;
}

.singleuserdetails:hover {
  box-shadow: 0px 0px 20px 0px rgb(var(--foreground-rgb));
  transform: scale(1.1);
}

.singleuserdetails ul li {
  list-style-type: none;
  margin: 10px;
}

.userimage_name_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userimage_name_wrapper img {
  margin-right: 7px;
}

/* Breadcrums */
.breadcrum-container {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  background-color: rgb(var(--foreground-rgb));
  font-weight: 100;
}
li svg {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .breadcrum-container {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
  }
}

.breadcrum_wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  padding-right: 2px;
}

.breadcrum-orderedlist {
  display: flex;
  flex-wrap: wrap;
  color: gray;
  font-weight: 600;

  align-items: center;
}

@media (min-width: 1024px) {
  .breadcrum-orderedlist {
    margin-left: 1.5px;
    margin-right: 1.5px;
  }
}

.breadcrum-list {
  display: flex;
  align-items: center;
}

.breadcrum-link {
  color: gray;
  font-weight: 600;
}

.breadcrum-link:hover {
  color: #ffffff;
  font-weight: 600;
}
